@import url('https://fonts.googleapis.com/css?family=Gugi');

body {
    text-align: center;
    background-color: #343539;
    font-family: Gugi;
}

form {
    border: 2px dotted white;
    border-radius: 15px;
    margin: 0 30%;
    background-color: darkgrey;
    box-shadow: 5px 2.5px 20px black;
    z-index: 12;
}

section {
    margin: .5% 25% 0 25%;
    padding: 10px;
    text-shadow: #343539;
}

h1 {
    color: white;
}

h3 {
    color: dimgray;
    margin-top: -15px;
}

button {
    padding: 10px;
    margin: 15px 0 20px 0;
    font-style: bold;
    background-color: #343539;
    color: white;
    font-size: 1.2em;
}

button:hover {
    background-color: white;
    border: 1px solid black;
    color: #343539;
}
 

input {
    background-color: white;
}

select {
    background-color: #343539;
    color: white;
}

footer img {
    position: absolute;
    margin-top: -400px;
    right: 0;
    width: 105%;
    z-index: -1;
    opacity: .5;
}