form {
    border: 2px dotted white;
    border-radius: 25px;
    margin: 0 30% 5% 30%;
    background-color: darkgrey;
    box-shadow: 5px 2.5px 20px black;
    z-index: 1;
}

section {
    margin: 0 25%;
    text-shadow: #343539;
    display: inline-block;
    padding: 2.5px;
    margin: 2.5px;
}

h1 {
    color: white;
}

h3 {
    color: dimgray;
    margin-top: -20px;
}

button {
    padding: 5px;
    margin: 7.5px 0px;
    font-style: bold;
    background-color: #343539;
    color: white;
    font-size: 1em;
    transition: .5s;
}

button:hover {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    color: #343539;
    box-shadow: 2.5px 2.5px 10px black;
    transition: .5s;
}

input {
    background-color: white;
}

select {
    background-color: #343539;
    color: white;
}

#boardQualityLabel {
    display: inline;
    margin-left: 5px;
    font-size: .75em;
}

textarea {
    margin-top: 5px;
    width: 250px;
}