dl {
    display: grid;
    grid-template-columns: max-content .25fr;
    text-align: left;
    justify-content: center;
}

dt {
    border: 1px dotted white;
    border-radius: 10px;
    background-color: darkgrey;
    opacity: .5;
    padding: 10px;
    margin: 2px;
}

dt:after {
    content: ":"
}

dd {
    color: white;
    border: 1px dotted white;
    border-radius: 10px;
    background-color: darkgrey;
    opacity: .5;
    padding: 10px;
    margin: 2px;
}

button {
    font-family: Gugi;
    color: white;
    padding: 10px;
    background-color: darkgrey;
    border: 1px solid white;
    transition: .5s;
}

button:hover {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    box-shadow: 5px 5px 20px black;
    transition: .5s;
}