@import url('https://fonts.googleapis.com/css?family=Gugi');

button {
    font-family: Gugi;
    color: white;
    padding: 20px;
    background-color: darkgrey;
    border: 1px solid white;
    transition: .5s;
}

button:hover {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    box-shadow: 5px 5px 20px black;
    transition: .5s;
}

section {
    margin-top: 150px;
}

h1 {
    text-shadow: 5px 5px 10px black;
}